# Next.js
.next/
out/
build/

# Dependencies
node_modules/

# Production
dist/

# Environment
.env*.local
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts.bak

# Turbo
.turbo

# Vercel
.vercel